*
!Dockerfile
!code
!code/**

code/.git
code/.demo
code/.next
code/**/.next
code/node_modules
code/**/node_modules
code/.turbo
code/**/.turbo
code/coverage
code/**/coverage
code/dist
code/**/dist
code/build
code/**/build
code/output
code/**/output
code/tmp
code/**/tmp
code/*.tsbuildinfo
code/**/*.tsbuildinfo
code/*.log
code/**/*.log
code/.DS_Store
code/**/.DS_Store
code/.env
code/.env.local
code/.env.production
code/apps/*/.env
code/workers/*/.env
